<% include('layout', { body: null }) %>
<h3>Tablas de Operaciones</h3>
<form action="/mostrar" method="POST">
    <label>Operación:<select name="operacion" id="operacion">
        <option value="sumar">Suma</option>
        <option value="restar">Resta</option>
        <option value="multiplicar">Multiplicación</option>
        <option value="dividir">División</option>
    </select></label><br>
    <label>Número: <input type="number" name="numero" required></label><br>
    <label>Inicio: <input type="number" name="inicio" required></label><br>
    <label>Fin: <input type="number" name="fin" required></label><br>
    <button type="submit">Calcular</button>
</form>