<% include('layout', { body: null }) %>
<h2>Actualizar Usuario</h2>
<form action="/edit/<%= usuario.id %>" method="POST">
    <label>Nombre Completo: <input type="text" name="nombre" value="<%= usuario.nombre %>" required></label><br>
    <label>Correo: <input type="email" name="correo_electronico" value="<%= usuario.correo_electronico %>" required></label><br>
    <label>Fecha de Registro: <input type="date" name="fecha_registro" value="<%= usuario.fecha_registro %>" required></label><br>
    <button type="submit">Actualizar</button>
</form>